# Dependencies
node_modules
.pnpm-store

# Next.js
apps/web/.next
apps/web/out

# Env
.env
.env.local
.env.*.local

# Turbo
.turbo

# Build outputs
dist
build
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.cursor
.claude
*.swp
.vercel
.env*.local
